<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.library.eroge.erogelib.mapper.Md5Mapper">
  <sql id="Base_Column_List">
    INDEX_ID, MD5, IS_VALID, CREATE_DATE, UPDATE_DATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultType="com.library.eroge.erogelib.entity.Md5PO">
    select 
    <include refid="Base_Column_List" />
    from md5
    where INDEX_ID = #{indexId,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from md5
    where INDEX_ID = #{indexId,jdbcType=BIGINT}
  </delete>

  <select id="selectByMd5" parameterType="java.lang.String" resultType="com.library.eroge.erogelib.entity.Md5PO">
    select
    <include refid="Base_Column_List" />
    from md5
    where MD5 LIKE CONCAT('%' , #{md5} ,'%')
  </select>

  <select id="selectLastValidMd5" resultType="com.library.eroge.erogelib.entity.Md5PO">
    select
    <include refid="Base_Column_List" />
    from md5
    where IS_VALID = 10011001
    ORDER BY CREATE_DATE DESC
    LIMIT 1
  </select>
</mapper>